hoist-pattern[]=ts-node # package/dite: postcss-load-config
hoist-pattern[]=postcss # package/dite
hoist-pattern[]=pug # playground/tailwind: @vue/compiler-sfc
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
